@import '../index.scss';

.balance {
  padding: rem(0 30px);
  @include screen-lt(mobile) {
    height: 11%;
  }

  &__data {
    align-items: flex-end;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(5px);
    max-width: rem(240px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
