@import '../index.scss';


$BgColor: #252d40;
$colorPlus: #78a659;
$colorMinus: #c94378;

.bot {
  &__item {
    width: calc(100%/3 - 4px/3);
    background: $BgColor;
    height: 210px;
    margin-right: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;

    &_active {
      background: radial-gradient(#182035, #283750);
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__image {

    &-container {
      max-width:  90px;
      min-height: 90px;
    }
  }

  &__list {
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 30px;

    &_empty {
      color: $primaryColor;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
    }
  }

  &__title {
    font-size: 20px;
    @include main-font(700);
    color: $secondaryColor;
    text-transform: uppercase;
    margin-top: 5px;
  }

}

.percent {
  font-size: 20px;
  @include main-font(600);
  &_plus {
    color: $colorPlus;
  }
  &_minus {
    color: $colorMinus;
  }
}
