@import '../index.scss';


$BgColor: #252d40;
$colorPlus: #78a659;
$colorMinus: #c94378;

.bot {
  &__item {
    width: calc(100%/3 - 4px/3);
    background: $BgColor;
    height: rem(210px);
    margin-right: rem(2px);
    margin-bottom: rem(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: rem(5px);

    &_active {
      background: radial-gradient(#182035, #283750);
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__image {

    &-container {
      max-width:  rem(90px);
      min-height: rem(90px);
    }
  }

  &__list {
    flex-wrap: wrap;
    margin-top: rem(20px);
    padding: rem(0 30px);

    &_empty {
      color: $primaryColor;
      font-size: rem(20px);
      display: flex;
      justify-content: center;
      align-items: center;
      height: rem(100px);
    }
  }

  &__title {
    font-size: rem(20px);
    @include main-font(700);
    color: $secondaryColor;
    text-transform: uppercase;
    margin-top: rem(5px);
  }

}

.percent {
  font-size: rem(20px);
  @include main-font(600);
  &_plus {
    color: $colorPlus;
  }
  &_minus {
    color: $colorMinus;
  }
}
