@import '../index.scss';


.price {
  display: flex;
  align-items: center;
  color: $secondaryColor;
  @include main-font(700);
  text-transform: uppercase;

  &__size {
    &_l {
      font-size: rem(66px);
      letter-spacing: -1;
      @include screen-lt(tablet) {
        font-size: rem(40px);
      }
    }
    &_s {
      font-size: rem(24px);
    }
  }
}

.currency {
  margin-left: rem(15px);
  &_imaged {
    width: rem(30px);
    height: rem(30px);
  }
}
