@import '../index.scss';

.title {
  &__container {
    h1, h2 {
      @include main-font(400);
      letter-spacing: 0;
      color: $primaryColor;
    }
  }
  &__size {
    &_big {
      font-size: 48px;
    }
    &_medium {
      font-size: 36px;
    }
    &_x-medium {
      font-size: 34px;
    }
    &_small {
      font-size:  24px;
    }
  }
  &__align {
    &_left {
      text-align: left;
    }
    &_center {
      text-align: center;
    }
    &_right {
      text-align: right;
    }
  }
  &_bold {
    font-weight: 700 !important;
  }

  &_uppercase {
    text-transform: uppercase;
  }
}
