@import 'index.scss';
@import 'components/layout.scss';
@import 'components/description.scss';
@import 'components/title.scss';
@import 'components/button.scss';
@import 'components/header.scss';
@import 'components/price.scss';
@import 'components/balance.scss';
@import 'components/charts.scss';
@import 'components/bot.scss';
@import 'components/filter.scss';
@import 'components/menu.scss';
@import 'components/page.scss';


h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
  font-size: rem(16px);
}
ul,ol {
  padding: 0;
  margin: 0;
  font-size: 0;
}
div {
  &:focus {
    outline: 0;
  }
}
a {
  text-decoration: none;
  color: $primaryColor;
  font-size: rem(16px);
}

body {
  margin: 0;
  font-size: rem(13px);
  @include main-font(500);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161c25;
}

input {
  padding: 0;
  border-width: 0;
  &:focus {
    outline: 0;
  }
}
#root {
  width: 100%;
  @include screen-gt(tablet) {
    width: rem(750px);
  }
}
.App {
  width: 100%;
  background-color: $colorBg;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(179px);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/shadow.png');
  }
}

.bm-menu-wrap {
  position: absolute !important;
}

.bm-cross {
  display: none;
}

.bm-burger-button {
  display: none;
}
